body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  padding: 1em;
  background-color: #151515;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
}
#metaWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 150px;
  margin-top: -90px;
  text-align: center;
}
#title {
  font-weight: bold;
  font-size: 60px;
}
.playtime {
  display: inline-block;
}
.emerge {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
