body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#chat
  width: 500px
  border: 1px solid black
  font: 10px
#display
  overflow-y: auto
  height: 500px