BORDCELL_WIDTH = 12.5%
BORDCELL_MIN_WIDTH = 40px

WHITE_CELL_COLOR = #CE93D8
BLACK_CELL_COLOR = #9C27B0

html, body
    height 100%
    width 100%
    text-align right

#page
    padding-top 25px
    display table
    width 100%
    height 75%

#game
    padding-left 7%
    display table-cell
    width 80%

    &.hidden
        display none

#gameContainer
    max-width 1200px
    width 100%
    display inline-table
    text-align left

#board
    width 50%
    display table-cell

#boardTable
    display table
    width 100%

.boardRow
    display table-row

.boardCell
    width BORDCELL_WIDTH
    min-width BORDCELL_MIN_WIDTH
    display table-cell
    background-size 400%
    background-image url('/images/chess_vectors.svg')
    background-repeat no-repeat
    background-position 75px 75px

    &.black
        background-color BLACK_CELL_COLOR

    &.white
        background-color WHITE_CELL_COLOR

.scoreStrip
    width 100%
    height 30px
    top 0
    position relative
    display table

    &.black
        background #333
        color white

    &.white
        background #fff
        color black

    & .score
        width 100%
        font-size 12px
        color inherit
        display table-row
        line-height 30px

.leftDisplay
    display table-cell
    text-align center
    width 33%
    color inherit

.centerDisplay
    display table-cell
    text-align center
    width 33%
    color inherit

.rightDisplay
    display table-cell
    text-align center
    width 33%
    color inherit

.stretchy-wrapper
    width 100%
    padding-bottom 100%
    position relative
    height 0

#chatbox
    display table-cell
    position relative
    width 50%
    height 100%
    border-left 1px solid #ccc
    vertical-align top
    font-size 14px

#messages
    position absolute
    left 0
    right 0
    top 0
    padding 3px
    bottom 30px
    background-color white
    overflow auto

    & .username
        color purple
        display inline-block
        font-weight bold

    & .serverMessage
        color gray

    & .welcomeMessage
        color gray

    & .errorMessage
        color red

#input
    position absolute
    display block
    bottom 0
    height 30px
    width 100%
    padding 0
    padding-left 3px
    border none
    border-top 1px solid purple

#lobby
    display inline-table
    margin-left 5%
    margin-right 2%
    width 90%
    height 100%
    text-align left

    &.large
        max-width 40%

#lobbyMessages
    position absolute
    left 0
    right 0
    top 0
    padding 3px
    bottom 30px
    background-color white
    overflow auto

    & .username
        color purple
        display inline-block
        font-weight bold

    & .serverMessage
        color gray

    & .welcomeMessage
        color gray

#lobbyInput
    position absolute
    display block
    bottom 0
    height 30px
    width 100%
    padding 0
    padding-left 3px
    border none
    border-top 1px solid purple

#lobbyContainer
    display table-cell
    position relative
    width 100%
    height 100%
    vertical-align top
    font-size 14px