// The idea is that anything that requires these is already made and not in
// this stylus file. Fttb I guess it works, but rid of it ASAP.
base-color = #9c27b0
accent-color = #ffe57f

board-width = 46%
board-min-width = 320px
boardCell-width = 12.5%
boardCell-min-width = 40px

white-color = #F3E5F5
black-color = #BA68C8

@import 'base/functions'

html
    position relative

body
    background #eee
    margin 0

#page
    text-align center

#container
    width 100%
    max-width 1200px
    display inline-table
    text-align left

#board
    left 52%
    margin 0
    padding 0
    min-width board-min-width
    border 1px solid #ccc
    display table-cell

#boardTable
    display table
    width 100%

.boardRow
    display table-row

.boardCell
    width boardCell-width
    min-width boardCell-min-width
    display table-cell

    &.black
        background-color black-color

    &.white
        background-color white-color

.scoreStrip
    width 100%
    height 30px
    top 0
    position relative

#scoreStripTop
    background #333
    color white

#scoreStripBottom
    background #eee
    color black

.score
    height 30px
    line-height 30px
    margin 0 0 0 2%
    padding 0
    width board-width
    min-width board-min-width
    font-size 12px

.spanLeft
    float left
    margin-left 2px

.spanRight
    float right
    margin-right 2px

.clear
    clear both

.stretchy-wrapper
    width 100%
    padding-bottom 100%
    position relative
    height 0

chat-width = 46%
chat-min-width = 320px

#chatbox
    display table-cell
    left 55%
    margin 0
    padding 0
    width chat-width
    min-width chat-min-width
    height 100%
    min-height board-min-width
    border 1px solid #ccc

#messages
    width 94%
    height 80%
    margin 3%
    position absolute

#input
    width 100%
    position absolute
    bottom 0
    height 36px
    line-height 36px
    border-top 1px solid #ccc

#inputBox
    height 30px
    width 70%
    float left
    border 0

#actionButton
    float right