base-color = #9c27b0
accent-color = #ffe57f

header-height = 50px

html
    min-height 100%
    position relative

body
    background #eee
    height 100%

#header
#container
#messages
    clear both

#container2
#container1
#board
#chatbox
#topscore
#bottomscore
    position relative

#container2
#container1
    float left
    width 100%

#container2
#board
#chatbox
    overflow hidden

#header
    background-color base-color
    width 100%
    height header-height
    margin 0
    padding 0
    top 0
    left 0
    right 0
    position relative

#container
    width 96%
    max-width 1200px
    height 70%
    margin 0 auto
    top header-height
    bottom 0
    left 0
    right 0
    background #fff
    overflow hidden
    border-radius: 0px 0px 6px 6px
    -moz-border-radius: 0px 0px 6px 6px
    -webkit-border-radius: 0px 0px 6px 6px
    border 1px solid #ddd
    z-index -1
    position absolute
    -webkit-box-shadow 1px 1px 2px 0px rgba(238,238,238,0.6)
    -moz-box-shadow 1px 1px 2px 0px rgba(238,238,238,0.6)
    box-shadow 1px 1px 2px 0px rgba(238,238,238,0.6)

#container2
    margin-top 4%

#container1
    right 50%

board-width = 46%
board-min-width = 320px
boardCell-width = 12.5%
boardCell-min-width = 40px

#topscore
#bottomscore
    height 18px
    line-height 18px
    float left
    left 52%
    margin 0
    padding 1px
    width board-width
    min-width board-min-width
    font-size 12px

#topscore
    background #666
    color #fff

#bottomscore
    background #eee
    color #000

.spanLeft
    float left
    margin-left 2px

.spanRight
    float right
    margin-right 2px

.clear
    clear both

#board
    float left
    left 52%
    margin 0
    padding 0
    width board-width
    min-width board-min-width
    border 1px solid #ccc
    display table

div.stretchy-wrapper
    width 100%
    padding-bottom 100%
    position relative

div.stretchy-wrapper > div
    position absolute
    top 0
    bottom 0
    left 0
    right 0

.boardRow
    display table-row

.boardCell
    width boardCell-width
    min-width boardCell-min-width
    display table-cell
    
chat-width = 46%
chat-min-width = 320px

#chatbox
    float left
    left 55%
    margin 0
    padding 0
    width chat-width
    min-width chat-min-width
    height 110%
    min-height board-min-width
    border 1px solid #ccc

messages-height = 100% - 30px

#messages
    width 94%
    height 80%
    margin 3%
    position absolute

#input
    width 100%
    position absolute
    bottom 0
    height 36px
    line-height 36px
    border-top 1px solid #ccc

#inputBox
    height 30px
    width 70%
    float left
    border 0

#actionButton
    float right