base-color = #9c27b0
accent-color = #ffe57f

#container
    margin 0 auto

#header
    background-color base-color
    width 100%
    height 300px
    margin 0
    padding 0
    float left

board-length = 40%
board-min-length = 640px
square-length = 12.5%
square-min-length = 80px

#board
    width board-length
    min-width board-min-length
    height board-length
    min-height board-min-length
    float left

.square
    width square-length
    min-width square-min-length
    height square-length
    min-width square-min-length
    background-color square-color
    
chat-width = 35%
chat-min-width = 560px

#chat
    width chat-width
    min-width chat-min-width
    height board-length
    min-height board-min-length
    float right

#messages
    width 90%
    margin 5%

#input
    width 90%
    height 36px
    line-height 36px

#actionButton
    float right