@import 'homepage.styl'

#container
    margin 0 auto

#header
    background-color base-color
    margin 0
    padding 0

board-length = 40%
board-min-length = 640px
square-length = 12.5%
square-min-length = 80px

#board
    width board-length
    height board-length
    min-width board-min-length
    min-height board-min-length

.square
    width square-length
    min-width square-min-length
    height square-length
    min-width square-min-length