base-color = #9c27b0
accent-color = #ffe57f

header-height = 50px

#header
    background-color base-color
    width 100%
    height header-height
    margin 0
    padding 0
    clear both

#container
    width 96%
    max-width 1000px
    margin 3% auto
    top header-height
    clear both

board-width = 40%
board-min-length = 400px
boardCell-length = 12.5%
boardCell-min-length = 50px

#board
    float left
    clear both
    width board-width
    min-width board-length
    min-height board-length
    border 1px solid #000
    display table

.boardRow
    display table-row

.boardCell
    width boardCell-length
    min-width boardCell-min-length
    height boardCell-min-length
    min-height boardCell-min-length
    display table-cell
    
chat-width = 40%
chat-min-width = 400px

#chatbox
    width chat-width
    min-width chat-min-width
    height board-length
    min-height board-min-length
    float right
    border 1px solid #000

messages-height = 90% - 40px

#messages
    width 90%
    height messages-height
    margin 5%
    clear both

#input
    width 90%
    height 36px
    line-height 36px

#inputBox
    height 30px

#actionButton
    float right