// # is an ID (one thing) . is a class (many)

#something
    color: red
    -webkit-transition: all 1s
    transition: all 1s

    &:hover
        cursor: pointer
        color: blue
        font-size: 48px

// Roboto is the standard font for the entire webpage now

.login
    color: #9C27B0
    background-color: white
    text-align: center
    width: 410px
    padding: 7px
    display: table
    margin: 0 auto

.loginScreenButton
    width: 49%
    display: inline-block
    
.header
    font-size: 50px