#something
    color: red
    -webkit-transition: all 1s
    transition: all 1s
    
    &:hover
        cursor: pointer
        color: blue
        font-size: 48px
        
#login
    background-color: grey