// # is an ID (one thing) . is a class (many)

#something
    color: red
    -webkit-transition: all 1s
    transition: all 1s

    &:hover
        cursor: pointer
        color: blue
        font-size: 48px

// Roboto is the standard font for the entire webpage now
.login
    color: #9C27B0
    // You wanted it to be white/purple, so...
    background-color: white
    text-align: center
    width: 400px
    display: table
    margin: 0 auto

.loginScreenButton
    background-color: #9C27B0
    color: white
    width: 50%
    display: inline-block