base-color = #9c27b0
accent-color = #ffe57f

// # is an ID (one thing) . is a class (many)
// Roboto is the standard font for the entire webpage now

// Class

.login
    color: base-color
    background-color: white
    text-align: center
    width: 410px
    padding: 7px
    display: table
    margin: 0 auto

.homepageHeader
    padding: 80px 0px 0px 0px
    font-size: 120px
    text-align: center
    background-color base-color
    box-shadow 2px 2px 6px gray

.paragraph
    padding: 30px 0px 0px 0px
    text-align: center
    
.fieldName
    color base-color
    color black
    color rgba(0, 0, 0, .87)
    
.loginRegisterPage
    padding-top 10%
    text-align center
    
.loginRegisterHeader
    padding 0px 0px 20px 0px
    font-size 40px
    color white
    // color rgba(255, 255, 255, .87)
    text-align center
    
.loginRegisterForm
    background-color white
    background-color rgba(255, 255, 255, .87)
    color rgba(0, 0, 0, .87)

.loginRegisterFooter
    bottom 42px
    height 42px
    margin 20px 0 0
    padding 0
    background base-color
    text-align center
    
.innerForm
    padding-top 20px
    width 80%
    margin auto
    text-align left
    
.inputBox
    width 100%
    height 30px
    font-size 25px
    font-weight lighter
    color black
    color rgba(0, 0, 0, 0.87)
    
.oneField
    padding-bottom 10px

a.logregButton, a.submitLogin
    text-decoration none

a.submitLogin
    display inline-block

.innerForm a
    color white

.submitLogin
    text-align center
    color white
    color rgba(255, 255, 255, 0.87)
    font-weight bold

// ID

#buttonWrapper
    min-width 200px
    height 40px
    margin 10px auto 0
    display inline-flex
    
#logoHeader
    width 120px
    height 120px
    vertical-align text-top
    
#titleHeader
    display inline-block
    color white
    
#welcomeText
    width 80%
    margin auto
    
#loginRegisterBox
    padding: 15px 10px 10px 10px
    margin 0 auto
    min-width 350px
    width 20%
    color white
    background-color base-color
    text-align center