#something {
  color: #f00;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#something:hover {
  cursor: pointer;
  color: #00f;
  font-size: 48px;
}
.login {
  color: #9c27b0;
  background-color: #fff;
  text-align: center;
  width: 410px;
  padding: 7px;
  display: table;
  margin: 0 auto;
}
.loginScreenButton {
  width: 49%;
  display: inline-block;
}
.header {
  font-size: 50px;
}
