.kingB
    background url('/images/chess_vectors.svg') 0 0
    
.queenB
    background url('/images/chess_vectors.svg') 0px 20px
    
.rookB
    background url('/images/chess_vectors.svg') 0 40
    
.bishopB
    background url('/images/chess_vectors.svg') 0 60
    
.pawnB
    background url('/images/chess_vectors.svg') 0 80
    
.kingW
    background url('/images/chess_vectors.svg') 40 0
    
.queenW
    background url('/images/chess_vectors.svg') 40 20
    
.rookW
    background url('/images/chess_vectors.svg') 40 40
    
.bishopW
    background url('/images/chess_vectors.svg') 40 60
    
.pawnW
    background url('/images/chess_vectors.svg') 40 80
    
.knightW
    background url('/images/chess_vectors.svg') 60 40
    
.knightB
    background url('/images/chess_vectors.svg') 60 60
    