.kingB
    background-position 0 0

.queenB
    background-position 0 25%

.rookB
    background-position 0 50%

.bishopB
    background-position 0 75%

.pawnB
    background-position 0 100%

.kingW
    background-position 33% 0

.queenW
    background-position 33% 25%

.rookW
    background-position 33% 50%

.bishopW
    background-position 33% 75%

.pawnW
    background-position 33% 100%

.knightW
    background-position 100% 100%

.knightB
    background-position 100% 75%