{"filter":false,"title":"login.styl","tooltip":"/srv/public/stylesheets/login.styl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":39},"end":{"row":0,"column":45},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1425044972491,"hash":"e80135d6d78b9b452ae669c1c058531e9847a67e"}