<!DOCTYPE html>
<html>
  <head>
    <title>Hello World!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hi there! This server is entirely written in node.js! Hence there's pretty
    much nothing here yet :]
  </body>
</html>
