@import functions
base-color = #9c27b0
accent-color = #ffe57f

body
    background-color white

div
    font-family 'Roboto', sans-serif
    color black

.clear
    clear both

.roundedContainer
    min-height 100px
    overflow hidden
    display inline-block
    border-radius .5em // Rounded edges
    box-shadow 2px 2px 6px gray

.button
    min-width 88px
    height 36px
    line-height 36px
    text-align center
    margin 1px
    display inline-block
    position relative

    &.raisedButton
        color white
        color rgba(255, 255, 255, .87)
        background-color base-color
        font-weight bold

        transition all .1s
        cursor pointer
        box-shadow 1px 1px 3px gray

        &:active
            background-color darken(@background-color, 15%)
            box-shadow 3px 3px 6px gray

    &.flatButton
        color white
        color rgba(255, 255, 255, .87)

#header
    background-color base-color
    width 100%
    display table

#title
    display table-cell
    padding 10px 0px 10px 13%
    color white
    color rgba(255, 255, 255, .87)
    font-size: 30px

#headerRight
    display table-cell
    text-align right

#buttonWrapper
    display inline-table
    border-spacing 5px
    padding 10px 0px 0px 0px

.wrappedButton
    display table-cell