@import functions
base-color = #9c27b0
accent-color = #ffe57f

// Set the body background to white so we know what to expect
body
    background-color white

// The font for the entire page
*
    font-family 'Roboto', sans-serif
    color black

// A clearing div to clear floating divs
.clear
    clear both

// A standard style for a container with rounded edges
.roundedContainer
    min-height 100px
    overflow hidden
    display inline-block
    border-radius .5em // Rounded edges
    box-shadow 2px 2px 6px gray

// A standard style for a raised button
.raisedButton
    min-width 88px
    height 36px
    line-height 36px
    text-align center
    margin 1px
    display inline-block
    position relative

    color rgba(255, 255, 255, .87)
    background-color base-color
    font-weight bold

    transition all .1s
    cursor pointer
    box-shadow 1px 1px 3px gray

    &:active
        background-color darken(@background-color, 15%)
        box-shadow 3px 3px 6px gray

// The page header style
#header
    background-color base-color
    width 100%
    height 50px
    margin 0
    padding 0
    top 0
    left 0
    right 0
    bottom 0
    position relative