@import functions
base-color = #9c27b0
accent-color = #ffe57f

body
    background-color #eee
    margin 0

div
    font-family 'Roboto', sans-serif
    color black
    color rgba(0, 0, 0, .87)

// Class

.clear
    clear both

.roundedContainer
    overflow hidden
    display inline-block
    border-radius .5em // Rounded edges
    box-shadow 2px 2px 6px gray

.button
    min-width 96px
    height 42px
    line-height 42px
    text-align center
    margin 1px
    display inline-block
    position relative
    padding 2px

    &.raisedButton
        color white
        color rgba(255, 255, 255, .87)
        background-color base-color
        font-weight bold

        transition all .1s
        cursor pointer
        box-shadow 1px 1px 3px gray

        &:active
            background-color darken(@background-color, 15%)
            box-shadow 3px 3px 6px gray

    &.flatButton, &.loginButton
        color white
        color rgba(255, 255, 255, .87)

        transition all .1s
        cursor pointer

        &:active
            background-color darken(base-color, 15%)

    &.loginButton
        background base-color

.title
    display table-cell
    padding 15px 0px 0px 13%
    color white
    color rgba(255, 255, 255, .87)
    font-size: 35px
    width 170px
    text-align center

.wrappedButton
    display table-cell


//ID

#header
    background-color base-color
    width 100%
    display table
    box-shadow 2px 2px 6px gray
    height 80px

#headerRight
    display table-cell
    text-align right
    font-weight bold

#buttonWrapper
    min-width 200px
    margin 10px auto 0
    display inline-flex
    border-spacing 5px

#homepageLink
    text-decoration none

#screenshot
    width 90%
    padding: 60px 0px 0px 0px
    display: block
    margin-left: auto
    margin-right: auto
    
#usernameName
    color white
    color rgba(255, 255, 255, 0.87)
    width 50px
    text-align center
    padding-top 17px
    font-size 17.5px
    
#signout
    text-decoration none