<div id='header'>
    <div id='title'>
        Chessmate
    </div>
    <div id='headerRight'>
        <div id='buttonWrapper'>
            <div id='Data' class='button flatButton wrappedButton'>
                Data
            </div>
            <div id='Sign Out' class='button flatButton wrappedButton'>
                Sign Out
            </div>
        </div>
    </div>
</div>