<div id='header'>
    <div class='title'>
        <a id='homepageLink' href= "/">
            <div id='homepageLink' class='button title flatButton'>
                Chessmate
            </div>
        </a>
    </div>
    <div id='headerRight'>
        <div id='buttonWrapper'>
            <div id='username' class='username'>
                <%= user %>
            </div>
            <a href='/signout'>
                <div id='signout' class='button flatButton wrappedButton'>
                    Sign Out
                </div>
            </a>
        </div>
    </div>
</div>