<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello World!</p>

    <div id='chat'>
        <div id='display'></div>
        <div id='input'></div>
    </div>
  </body>
</html>