<!DOCTYPE html>
<html>
    <head>
        <title>A chess test room</title>
        <link rel="stylesheet" href="/stylesheets/board.css"></link>
    </head>
    <body>
        <div id="board-container">
            <% for (var i = 0; i < 8; i++) { %>
                <div class="board-row">
                    <% for (var j = 0; j < 8; j++) { %>
                    <div class="board-cell">Test</div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </body>
</html>