<!DOCTYPE html>
<html>
  <head>
    <title>Chessmate</title>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/game.css"></link>
    <link rel="stylesheet" href="/stylesheets/pieces.css"></link>
  </head>
  <body>
    <% include partials/header %>
    <div id='page'>

      <div id='game' class='hidden'>
        <div id= 'gameContainer' class='roundedContainer'>

          <div id= 'board'>

            <div class='scoreStrip black'>
              <div class='score'>
                <div class = 'leftDisplay'>black</div>
                <div class = 'centerDisplay'></div>
                <div class = 'rightDisplay' id = 'blackPlayer'></div>
              </div>
            </div>

            <div class= 'stretchy-wrapper'>
              <div id='boardTable'>
                <% for (var i = 1; i < 9; i++) { %>
                  <div class='boardRow'>
                    <% for (var j = 1; j < 9; j++) { %>

                    <% var white = ( ( i + j ) % 2 ) === 0 %>
                    <%var alphabet = "ABCDEFGH".split("");%>
                    <div class='boardCell <%= white ? 'white' : 'black' %>'
                         id= '<%= alphabet[j - 1]+(8 - (i - 1))%>'>
                    <div ></div>
                      <div class= 'stretchy-wrapper'>
                      </div>
                    </div>
                    <% } %>
                  </div>
                <% } %>
              </div>
            </div>

            <div class='scoreStrip white'>
              <div class='score'>
                <div class = 'leftDisplay'>white</div>
                <div class = 'centerDisplay' id = 'timer'></div>
                <div class = 'rightDisplay' id = 'whitePlayer'></div>
              </div>
            </div>

          </div>

          <div id= 'chatbox'>

            <div id= 'messages'></div>
            <input id='input' placeholder='Type!' type='text'>

          </div>

        </div>
      </div>

      <div id='lobby' class='roundedContainer large'>
        <div id='lobbyContainer'>
          <div id='lobbyMessages'></div>
          <input id='lobbyInput'></div>
        </div>
      </div>
    </div>
    <!-- Script section -->
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <% include partials/chatConnect %>
    <!-- /Script section -->
  </body>
</html>