<!DOCTYPE html>
<html>
    <head>
      <% include partials/head.ejs %>
      <title>Chessmate</title>
      <link rel="stylesheet" href="/stylesheets/login.css"></link>
    </head>
    <body>
      <div class='homepageHeader'>
        <img id='logoHeader' src="../images/Logo.png">
        <a id='homepageLink' href="/">
          <div id='titleHeader' class='button'>
            Chessmate
          </div>
        </a>

      </div>
      <div class='paragraph'>

        <div id='welcomeText'>
            Welcome to group X1's online web application team project for the
            University of Manchester. Play and chat along with friends online 
            in our Chess Simulator! Just login or register below to get
            started!
        </div>

        <div id='buttonWrapper'>
          <a class='logregButton' href = "/login">
            <div class='button raisedButton wrappedButton'>
              Login
            </div>
           </a>
           <a class='logregButton'  href='/register'>
             <div class='button raisedButton wrappedButton'>
              Register
            </div>
          </a>
        </div>

      </div>
      <img id='screenshot' src="../images/screenshot.png">

    </body>
    <!--Script section-->
        <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <!--/Script section-->
</html>