<!DOCTYPE html>
<html>
  <head>
    <title><Chessmate></title>
    <% include partials/head %>
  </head>
  <body>
    <div id= 'board'>
      <% for (var i = 0; i < 8; i++) { %>
        <div class='boardRow'>
          <% for (var j = 0; j < 8; j++) { %>
          <% } %>
        </div>
      <% } %>
    </div>
      
    <div id= 'chat'>
      <div id= 'speech'>
        
      </div>
      <div id= 'input'>
        <div id= 'actionButton'>
          
        </div>
      </div>
    </div>
  </body>
</html>