<!DOCTYPE html>
<html>
    <head>
      <% include partials/head.ejs %>
      <title>
        Chessmate
      </title>
      <link rel="stylesheet" href="/stylesheets/login.css"></link>
    </head>
    <body>
      <div class='header'>Chessmate</div>

      <!-- Don't use h3 and please don't go past line 80. Srsly. -->
      <div class='paragraph'>

        <div class='welcomeText'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
            mi est. Morbi non dolor magna. Donec feugiat urna non lacus
            facilisis, efficitur congue purus ullamcorper. Mauris molestie
            vitae purus sit amet pretium.
        </div>

        <div id='buttonWrapper'>
          <div id='loginButton' class='raisedButton wrappedButton'>
            Login
          </div>
          <div id='registerButton' class='raisedButton wrappedButton'>
            Register
          </div>
        </div>

      </div>
      <input id='screenshot' type="image" src="../images/screenshot.png">

    </body>
    <!--Script section-->
        <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
    <!--/Script section-->
</html>