<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/keepout.css"></link>
    <link rel="stylesheet" href="/stylesheets/homepage.css"></link>
  </head>
  <body>
    <div id='header'>&nbsp;</div>
    <div id= 'container'>
      <div id= 'board'>
        <% for (var i = 0; i < 8; i++) { %>
          <div class='boardRow'>
            <% for (var j = 0; j < 8; j++) { %>
            <% } %>
          </div>
        <% } %>
      </div>
      
      <div id= 'chatbox'>
        <div id= 'messages'>
        
        </div>
        <div id= 'input'>
          <div id= 'actionButton' class='raisedButton'>
            Send
          </div>
        </div>
      </div>
    </div>
  </body>
</html>