<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        This is just lauren's test page. She'll place whatever she wants in
        here. :D </br>
        
        <%= date %>

        <button id='test'>Test!</button>

    </body>
    <!--Script section-->
        <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
        <script type='text/javascript' src='/javascripts/lauren.js'></script>
    <!--/Script section-->
</html>