<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        This is just lauren's test page. She'll place whatever she wants in
        here.
    </body>
</html>