<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
    <title>Register with chessmate!</title>
    <link rel="stylesheet" href="/stylesheets/login.css"></link>
</head>

<body>
    <% include partials/header %>
    <div class='loginRegisterPage'>
        <div class='roundedContainer' id='loginRegisterBox'>
            <div class='loginRegisterHeader'>
                Register
            </div>
            <div id='registerBox' class='loginRegisterForm'>
                <form class='innerForm' action='/register/submit' method="post">
                    <div class='oneField'>
                        <div class='fieldName'>Name</div>
                        <input class='inputBox' id='username'
                         type='text' name='name'>
                    </div>
                    <div class='oneField'>
                        <div class='fieldName'>Password</div>
                        <input class='inputBox' id='password'
                         type='password' name='password'>
                    </div>
                    <div class='oneField'>
                        <div class='fieldName'>Repeat Password</div>
                        <input class='inputBox' id='repeatPassword'
                         type='password' name='confirm'>
                    </div>
                    <div class='submitLogin'>
                        <input type='submit' value='Register'
                               class='button loginButton wrappedButton'
                                id='loginRegisterButton'>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Script section -->
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='/javascripts/login/form.js'></script>
    <!-- /Script section -->
</body>

</html>